In [1]:
import pandas as pd 
import numpy as np
import re 
import dateutil

In [17]:
from bs4 import BeautifulSoup

In [8]:
import requests
import csv

In [24]:
# Requests recupera el codigo html del link 
page=requests.get('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=1008658788')

In [25]:
#Ejecuta la funcion BeautifulSoup con el enlace
soup= BeautifulSoup(page.text, 'lxml')

In [27]:
# Destaca la parte del codigo fuente donde aparece "table..."
table =soup.find('table', {'class': 'wikitable sortable'})

In [28]:
#Crear una lista vacia
headers = []

In [29]:
# En el codigo HTML se usan codigos universales, en este caso 'th', sirve como separador de headers

for i in table.find_all('th'):
    title=i.text.strip()
    headers.append(title)

In [30]:
headers

['Postal Code', 'Borough', 'Neighbourhood']

In [31]:
#Convierte la lista headers en un DataFrame pandas df 
df=pd.DataFrame(columns=headers)
df

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [32]:
#Llenar el DataFrame df
for row in table.find_all('tr')[1:]:
    data=row.find_all('td')
    row_data=[td.text.strip() for td in data]
    lenght=len(df)
    df.loc[lenght]=row_data

In [33]:
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [38]:
#Eliminar el espacio de 'Postal Code'
df.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
df.head()

  PostalCode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [39]:
#Eliminar las filas cuyo vecindario sea 'Not assigned'
df=df.drop(df[df['Borough']=='Not assigned'].index)
df

,PostalCode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [59]:
df.shape

(103, 3)